*.bz2
*.crt
*.csv
*.csv.gz
*.csv.zip
data/
*.env
*.parquet
*.pem
*.pub
.ruff_cache
*.tar.gz
xgboost_hpo_logs.txt
*.zip
*.7z

build
*.swp

__pycache__
.ipynb_checkpoints

.DS_Store

cufile.log
node_modules/
jupyter_execute/
.playwright-cli/
.claude/*.local.*

# files manually written by example code
source/examples/rapids-azureml-hpo/Dockerfile
source/examples/rapids-sagemaker-hpo/Dockerfile

# exclusions
!source/examples/rapids-1brc-single-node/lookup.csv
