*.bz2
*.crt
*.csv
*.csv.gz
*.csv.zip
*.env
*.pem
*.pub
.ruff_cache
*.tar.gz
*.zip
*.7z

build
*.swp

__pycache__
.ipynb_checkpoints

.DS_Store

cufile.log
node_modules/
jupyter_execute/

# exclusions
!source/examples/rapids-1brc-single-node/lookup.csv
