# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black-jupyter
  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.18.0
    hooks:
      - id: blacken-docs
        additional_dependencies:
          - black==23.1.0
        args: [--skip-errors]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v4.0.0-alpha.8"
    hooks:
      - id: prettier
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.41.0
    hooks:
      - id: markdownlint
        args: [--ignore-path=.markdownlintignore]
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.5.6"
    hooks:
      - id: ruff
        types_or: [jupyter, python]
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
  - repo: local
    hooks:
      - id: unused-images
        name: unused-images
        entry: bash scripts/unused_images.sh
        language: system
        pass_filenames: false
        always_run: true
default_language_version:
  python: python3
