[tool.ruff]
fix = true
line-length = 120

[tool.ruff.lint]
select = [
    # pycodestyle
    "E",
    # pyflakes
    "F",
    # isort
    "I",
    # pyupgrade
    "UP",
    # flake8-bugbear
    "B"
]

[tool.ruff.lint.per-file-ignores]
"source/examples/**/*.ipynb" = [
    # "module level import not at top of cell".
    # This is sometimes necessary, for example to ship a self-contained function
    # around with Dask.
    "E402",
]
"source/examples/xgboost-dask-databricks/notebook.ipynb" = [
    # "undefined name spark" because Databricks magically makes a SparkSession
    # available with name 'spark'
    # ref: https://docs.databricks.com/en/migration/spark.html#remove-sparksession-creation-commands
    "F821",
]
