nav.bd-links fieldset legend {
    color: var(--pst-color-text-base);
    font-weight: var(--pst-sidebar-header-font-weight);
    font-size: 1em;
}

nav.bd-links fieldset input {
    margin-left: 1em;
    margin-right: 0.25em;
  }

.bd-links__title small {
    float: right;
    padding-right: 2em;
}

nav.bd-links fieldset .sd-badge {
    font-size: 0.9em;
}

/* Tag colours */
.sd-badge {
    /* Defaults */
    color: var(--sd-color-primary-text);
    background-color: var(--sd-color-primary);
    border-left: 0.5em var(--sd-color-primary) solid;
    padding-left: 0.25em !important;
}

.tag-dask, .tag-dask-kubernetes, .tag-dask-operator, .tag-dask-yarn, .tag-dask-gateway, .tag-dask-jobqueue, .tag-dask-helm-chart {
    color: #262326;
    background-color: #FFC11E !important;
    border-left: 0.5em #FFC11E solid;
}

.tag-kubernetes, .tag-kubeflow {
    background-color: #3069DE;
    border-left: 0.5em #3069DE solid;
}

.tag-aws {
    color: #222E3C;
    background-color: #F79700;
    border-left: 0.5em #F79700 solid;
}

.tag-optuna {
    background-color: #045895;
    border-left: 0.5em #045895 solid;
}

.tag-scikit-learn {
    color: #030200;
    background-color: #F09436;
    border-left: 0.5em #3194C7 solid;
}
